/*
Properties to use:

display
grid-template-columns
grid-template-rows
grid-template-areas
grid-area

gap
justify-content
align-content
align-items
*/


/* 1. Create a 2x2 grid with equal-sized cells. */

.container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

/* 2. Create a grid of 3 columns. The middle column should be twice the size of the left / right columns. */

.container-2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}


/* 3. Create a basic page layout with header, footer, main content, recommendations, and navigation (see assignment page) using template areas. */

.container-3 {
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav main main"
    "nav recommended-1 recommended-2"
    "footer footer footer";
}

header {grid-area: header;}
nav {grid-area: nav;}
.recommended-1 {grid-area: recommended-1;}
.recommended-2 {grid-area: recommended-2;}
main {grid-area: main;}
footer {grid-area: footer;}

/* 4. Create a grid of 3 columns and vertical alignment. */

.container-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* 5. Create a grid of 3 columns with horizontal and vertical alignment. Each column should have a width of 100px. */

.container-5 {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-content: center;
    gap: 10px;
}

/* 6. Create a grid of 3 equally sized, centered columns with space between each row. */

.container-6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
}